.container {
  min-height: 28rem;
  gap: 5rem;
  display: flex;
  flex-direction: row; /* Display content in a column on small screens */
}

.textContainer {
  max-width: 100%; /* Allow text to take up the full width on small screens */
  font-size: 1.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.imageContainer {
  flex: 1;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column; /* Display content in a column on small screens */
    gap: 4rem;
  }
}

/* Media Query for screens with a min-width of 768px */
@media (max-width: 768px) {
  .container {
    gap: 2rem;
  }
}
