.container {
  min-height: 28rem;
  gap: 5rem;
  display: flex;
  flex-direction: column; /* Display content in a column on small screens */
}

.textContainer {
  max-width: 100%; /* Allow text to take up the full width on small screens */
  font-size: 1.5rem;
  flex: 1;
}

.imageContainer {
  flex: 1;
}

/* Media Query for screens with a min-width of 768px */
@media (min-width: 768px) {
  .container {
    flex-direction: row; /* Display content in a row on larger screens */
  }

  .textContainer {
    max-width: 40%;
  }

  .imageContainer {
    max-width: 60%;
  }
}
