.title {
  color: #fc7060;
  background-color: #ffffff;
  font-size: 8rem;
  text-transform: uppercase;
  z-index: 1;
  margin: 0; /* Reset margin for accurate positioning */
  position: absolute; /* Set absolute positioning for the title */
  top: 50%; /* Position the title at the middle vertically */
  left: 0; /* Position the title at the left */
  transform: translateY(-50%); /* Adjust vertical alignment */
  line-height: normal;
}

.overlay {
  position: relative; /* Change to relative positioning */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Place the overlay above the image */
}

.image {
  z-index: 0; /* Ensure the image is below the overlay */
  width: 100%; /* Make the image take up 100% of its container's width */
  height: auto; /* Maintain the aspect ratio */
  min-width: 0;
}
