.title {
  color: #fc7060;
  background-color: #ffffff;
  font-size: 6rem; /* Adjust font size for smaller screens */
  text-transform: uppercase;
  z-index: 1;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  line-height: normal;
}

.overlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.image {
  z-index: 0;
  width: 100%;
  height: auto;
  min-width: 0;
}

/* Media Query for screens with a max-width of 768px */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}
