.h1 {
  color: #090d0f;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4rem;
  max-width: 35rem;
}

.h2 {
  color: #172126;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.15rem;
}

.bgTitle {
  display: inline-flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  background: #fefefe;
}

.bg {
  background-image: url('./assets/landing-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  height: 100svh;
}

.downBanner {
  background: #fefefe;
}
