.BGBars {
  background-image: url('/assets/BGBars.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: inherit;
  width: 100%;
}

.content {
  max-width: 55rem;
  margin: 0 auto; /* Center the content horizontally */
}

.contentBox {
  margin: 5rem;
}

.aboutContainer {
  gap: 5rem;
}

@media screen and (max-width: 1024px) {
  .contentBox {
    margin: 4rem; /* Adjust margin for medium-sized screens */
  }
  .aboutContainer {
    gap: 2rem;
  }
}

/* Responsive styles for mobile */
@media screen and (max-width: 768px) {
  .BGBars {
    background-image: none; /* Remove background image on mobile screens */
  }
  .aboutContainer {
    gap: 3rem;
  }
  .contentBox {
    margin: 2rem; /* Adjust margin for small screens */
  }
}
