/* Common styles for both desktop and mobile */
.h1,
.h2 {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.h1 {
  color: #090d0f;
  text-align: center;
  letter-spacing: 0.4rem;
  max-width: 35rem;
  font-size: 8rem;
}

.h2 {
  color: #404040;
  letter-spacing: 0.15rem;
  font-size: 3rem;
}

.bgTitle {
  display: inline-flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  background: #fefefe;
}

.bg {
  background-image: url('/assets/landing-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  height: 100svh;
}

.downBanner {
  background: #fefefe;
}

@media screen and (max-width: 1024px) {
  .h1 {
    font-size: 5rem;
  }

  .h2 {
    font-size: 2rem;
  }
}

/* Responsive styles for mobile */
@media screen and (max-width: 768px) {
  .h1 {
    font-size: 3.4rem;
  }

  .h2 {
    font-size: 1.4rem;
  }
}
